<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>59</string>
					<key>StartingColumnNumber</key>
					<string>6</string>
					<key>StartingLineNumber</key>
					<string>58</string>
					<key>Timestamp</key>
					<string>759825042.049073</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>home-directory</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Library/Developer/Xcode/DerivedData/jy-bpefoyfwjrkhyfgduzlpxjtkyffp/Build/Intermediates.noindex/jy.build/Debug-iphoneos/jy.build/DerivedSources/GeneratedAssetSymbols.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>atic let actionLogo = DeveloperToolsSupport.ImageResource(name: "action_logo", bundle: resourceBundle)
</string>
				<key>leading</key>
				<string>
    /// The "action_logo" asset catalog image resource.
    st</string>
				<key>trailing</key>
				<string>
    /// The "add_icon" asset catalog image resource.
    static let addIcon = DeveloperToolsSupport.ImageResource(name: "add_icon", bundle: resourceBundle)
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>66</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>65</string>
					<key>Timestamp</key>
					<string>760085139.916272</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>home-directory</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Library/Developer/Xcode/DerivedData/jy-bpefoyfwjrkhyfgduzlpxjtkyffp/Build/Intermediates.noindex/jy.build/Debug-iphoneos/jy.build/DerivedSources/GeneratedAssetSymbols.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>
</string>
				<key>leading</key>
				<string>    /// The "ai_eagle_logo" asset catalog image resource.
    static let aiEagleLogo = DeveloperToolsSupport.ImageResource(name: "ai_eagle_logo", bundle: resourceBundle)
</string>
				<key>trailing</key>
				<string>    /// The "aiview_bg" asset catalog image resource.
    static let aiviewBg = DeveloperToolsSupport.ImageResource(name: "aiview_bg", bundle: resourceBundle)

</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
