<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>WeChat</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx4868b35061f87885</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weibosdk</string>
		<string>alipay</string>
		<string>alipayshare</string>
		<string>mqqapi</string>
		<string>weixin</string>
		<string>pocket-oauth-v1</string>
		<string>mqqOpensdkSSoLogin</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>zcoolwenyiti.ttf</string>
	</array>
</dict>
</plist>
